body{
    width: 100%;
    padding: 2%;
}


.minor{
    width: 33%;
    float: left;
}

.inner{
    border: 1px solid black;
    width: 95%;
    height: 400px;
    padding: 1%;
}

#d3s{
    padding: 0%;
    
}

.top{
    height: 200px;
    align-content: auto;
}

.top img{
    max-height: 100%;
    max-width: 50%;
}


.inner figure{
    height: 31%;
    width: 31%;
    float: left;
    align-self: center;
    vertical-align: middle;
}

figure img{
    max-height: 80%;
    max-width: 100%;
    vertical-align: middle;
    
}

figure img:hover{
    opacity: 0.5;
    filter: alpha(opacity=40);
    cursor: pointer;
}

figure figcaption{
    vertical-align: middle;
    text-align: center;
}

.instruct{
    text-align: center;
}

#d3chart{
    //border: 1px black solid;
    max-height: 400;
}



